*{
    margin: 0;
    padding: 0;
}

#tituloprincipal{
    text-align: center;
}




#menu{
    text-align: center;
    color: white;
}




.color{
    color: white;
}

#titulo1{
    color: white;
}

.palabras{
    color: red;
}

body{
    background-image: url(../assets/imagenes/pilotos\ de\ la\ f1-1247830340\ \(1\).webp);
    background-position: center center;
    background-repeat: no-repeat;
}
